{% extends "base_index.html" %}

{% block content %}
<li>
  <div class="banner-w3lstext"><h2 id="o_uploadBtn" onmouseover="mOver(this)" onmouseout="mOut(this)">Original Image</h2></div>
  <input type="file" name="image" id="o_uploadFile" accept="image/*" style="display:none;">
  <input type="hidden" name="o_img_name">
  <div><img onload="resizeme(this,this.width,this.height,900);" src="" class="img-show" id="o_image"></div>
</li>

<li>
  <div class="banner-w3lstext"><h2 id="wm_uploadBtn" onmouseover="mOver(this)" onmouseout="mOut(this)">Water Marking</h2></div>
  <input type="file" name="image" id="wm_uploadFile" accept="image/*" style="display:none;">
  <input type="hidden" name="wm_img_name">
  <div><img onload="resizeme(this,this.width,this.height,900);" src="" class="img-show" id="wm_image"></div>
</li>

<li>
  <div class="banner-w3lstext">
    <h2 id="bwm_getBtn" onmouseover="mOver(this)" onmouseout="mOut(this)">Encoded Image</h2>
    <input type="text" id="encode_seed" οninput="value=value.replace(/[^\d]/g,'')">
  </div>
  <input type="hidden" name="bwm_img_name">
  <div><img onload="resizeme(this,this.width,this.height,900);" src="" class="img-show" id="bwm_image"></div>
</li>

<li>
  <div class="banner-w3lstext"><h2 id="bwm_uploadBtn" onmouseover="mOver(this)" onmouseout="mOut(this)">The Image Which You Want to Decode</h2></div>
  <input type="file" name="image" id="bwm_uploadFile" accept="image/*" style="display:none;">
  <input type="hidden" name="bwm_up_img_name">
  <div><img onload="resizeme(this,this.width,this.height,900);" src="" class="img-show" id="bwm_up_image"></div>
</li>

<li>
  <div class="banner-w3lstext">
    <h2 id=="bwm_extractBtn" onmouseover="mOver(this)" onmouseout="mOut(this)">Extracted Water Marking</h2>
    <p><input type="checkbox" name="is_align"/>whether align with original image</p>
    <input type="text" id="decode_seed" οninput="value=value.replace(/[^\d]/g,'')">
  </div>
  <input type="hidden" name="bwm_ex_img_name">
  <button type="button" id="bwm_extractBtn2">extract blind water marking</button>
  <div><img onload="resizeme(this,this.width,this.height,900);" src="" class="img-show" id="bwm_ex_image"></div>
</li>
{% endblock %}